* {
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --light: #79b5cc;
    --dark: rgb(39, 39, 39);
}
body {
    margin: 0;
    padding: 0;
    color: var(--dark);
}
a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
}
address {
    font-style: normal;
}
.header {
    display: flex;
    text-shadow: 1px 1px var(--dark);
    background-color: #222;
    z-index: 10;
    height: 40px;
    width: 100%;
    position: sticky;
    margin: -40px auto 0;
    top: 0;
    box-shadow: 0 1px 5px 0px black;
}
#nav {
    margin: 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 40px;
    padding-right: 40px;
}
@media screen and (max-width: 768px) {
    .header {
        height: 60px;
        margin: -60px auto 0;
    }
    #nav {
        height: 60px;
    }
}
#dropdown {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    margin: 1rem 3rem;
}
#dropdownitems {
    background-color: #222;;
}
#navitems {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    align-content: center;
    color: var(--light);
    font-weight: 700;
    font-size: 0.8rem;
}
@media screen and (max-width: 768px) {
    #navitems {
        display: none;
    }
    #dropdown {
        display: inline-block;
        position: relative;
    }
    .navlink {
        padding: 0;
        margin: 0;
        color: var(--light);
    }
}
#dropdownitems {
    display: none;
    position: absolute;
    width: 140px;
    box-shadow: 0 2px 5px 0px black;
    padding: 0.5rem 0.2rem 0;
    z-index: 1;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
.navlink {
    padding: 0.7rem 2rem;
    margin-top: -0.7rem;
    cursor: pointer;
}
.navlink:hover {
    border-bottom: 1px solid var(--light);
}
@media screen and (max-width: 768px) {
    .navlink:hover {
        border-bottom: none;
        font-size: 1.1rem;
        transition: ease 0.2s;
    }
}
#hero {
    display: grid;
    color: var(--light);
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("img/hero.jpg");
    background-position: center;
    right: 0;
    top: 0;
    left: 0;
}
#hero:after {
    content: " ";
    z-index: 8;
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background: #000000c5;
}
.heroheader {
    z-index: 9;
    font-size: 3rem;
    align-self: end;
    justify-self: center;
    text-shadow: 1px 1px var(--dark);
    margin: 0 3rem;
}
.herosubheader {
    display: flex;
    flex-direction: column;
    z-index: 9;
    align-self: start;
    justify-self: center;
    text-shadow: 1px 1px var(--dark);
}
.menusection {
    display: grid;
    max-width: 1100px;
    margin: 0 auto;
    padding-right: 2rem;
    border-top: 1px var(--dark) solid;
}
@media screen and (max-width: 768px) {
    .menusection {
        margin: 0 3em;
    }
}
.line {
    margin: 3rem auto;
    max-width: 1100px;
    visibility: hidden;
}
.menuheader {
    margin: 0 0 3rem;
    text-align: center;
    font-weight: 100;
    font-size: 2rem;
}
@media screen and (max-width: 768px) {
    .menuheader {
        font-size: 1.5rem;
    }
}
.menulistitem {
    display: grid;
    grid-template-areas: 
    "a b";
    justify-content: start;
    grid-gap: 2rem;
    margin: 2rem auto;
    width: 100%;
}
@media screen and (max-width: 768px) {
    .menulistitem {
        grid-template-areas: 
        "a" "b";
    }
    .menulistitem:nth-child(even) {
    }
}
.menuthumbnail {
    grid-area: a;
    height: 120px;
    width: 160px;
    object-position: center;
    object-fit: cover;
    justify-self: start;
    box-shadow: 0 0 1px var(--dark);
}
@media screen and (max-width: 768px) {
    .menuthumbnail {
        width: calc(100vw - 11.5rem);
        height: 250px;
    }
}
.menudescription {
    grid-area: b;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    grid-gap: 0.2rem;

}
@media screen and (max-width: 768px) {
    .menudescription {
        grid-gap: 0.5rem;
    }
}
.title {
    font-weight: bold;
}
.descr {
    display: flex;
    align-items: flex-start;
}
.descr > p {
    margin-top: 0.3rem;
}
.allerg {
    font-style: italic;
}
.price {
    align-self: end;
    font-weight: bold;
}
a.anchor {
    display: block;
    position: relative;
    top: -80px;
    visibility: hidden;
}
#footer {
    height: auto;
    background-color: var(--dark);
    color: var(--light);
    margin-top: 3rem;
}
.info {
    max-width: 1100px;
    height: 100%;
    padding: 5rem 3rem 0;
    margin: 0 auto;
}
.subheader {
    font-size: 1.5rem;
}
.paragraph a {
    text-decoration: underline;
}
#copyright {
    bottom: 0;
    width: auto;
    margin: 7rem auto 0;
    padding-bottom: 3rem;
    text-align: center;
    font-size: 0.8rem;
}
.rapport {
    width: 1100px;
    margin: 5rem auto;
}